/* Apply a background color and some padding */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    color: black;
    position: relative;
    padding: 20px 0;
    width: 100vw;
    overflow-x: hidden;
 background: linear-gradient(135deg,rgb(85, 109, 245),rgb(128, 208, 206),rgb(156, 220, 252),rgb(188, 235, 255));
  background-size: 300% 300%;
  animation: softBlueWave 18s ease infinite;
}


@keyframes softBlueWave {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

/* Style the heading with some color */
h1 {
  color: #156ba0;
  /* Green color for the header */
  font-size: 2.5em;
  margin-bottom: 20px;
}

/* Style the paragraph text */
p {
  color: #555;
  /* Darker text color for the paragraph */
  font-size: 1.2em;
  line-height: 1.5;
}

.page-container .logo {
  position: absolute;
  /* Position the logo absolutely */
  top: 10px;
  /* Distance from the top of the page */
  right: 10px;
  /* Distance from the right of the page */
  width: 100px;
  /* Adjust the size as needed */
  height: auto;
  /* Maintain the aspect ratio */
}



.App {
  text-align: center;
}
